*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    font-size: 16px;
}
body{
    overflow: hidden;
}
main{
    position: relative;
    min-height: 100vh;
    display: flex;
}
.info-container{
    display: flex;
    flex-direction: column;
    padding: 4rem 10rem;
    justify-content: space-around;
}
.logo{
    position: absolute;
    top: 4rem;
    left: 10rem;
    width: 30%;
}
.text-container{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10rem;
}
h1{
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 300;
    color: var(--Desaturated-Red);
    letter-spacing: 1rem;
}
b{
    color: var(--Dark-Grayish-Red);
}
p{
    width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
    color: var(--Desaturated-Red);
}

form{
    position: relative;
    display: flex;
    width: 60%;
}
input{
    width: 100%;
    border: 1px solid var(--Desaturated-Red);
    border-left: var(--Dark-Grayish-Red);
    border-right: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    outline: none;
}
.invalid{
    position: relative;
    outline: 1px solid var(--Soft-Red);
    background-image: url("./img/icon-error.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% right 6rem;
}
.error::after{
    font-size: .8rem;
    content: 'Please provide a valid email';
    color: var(--Soft-Red);
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}
button{
    position: absolute;
    width: 5rem;
    height: 100%;
    border-radius: 2rem;
    border: none;
    right: 0;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    outline: none;
}
.img-container{ 
    display: flex;
    width: 58vw;
    height: 100vh;
}
.main-img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
@media (max-width:768px) {
    body{
        overflow: visible;
    }
    main{
        flex-direction: column-reverse;
    }
    .logo{
        position: relative;
        top:1.5rem;
        left: 2rem;
        height: 5rem;
        order: 1;
    }
    .info-container{
        padding: 1rem;
        text-align: center;
    }
    .text-container{
        justify-content: flex-start;
        padding: 2rem;
        height: 100%;
    }
    h1{
        font-size: 3rem;
    }
    p{
        width: 100%;
    }
    form{
        width: 100%;
    }
    .img-container{
        width: 100vw;
        height: 18rem;
    }
    .main-img{
        object-position: top -2rem left 0;
        width: 100%;
    }
}